#wrapper {
	width: 960px;
	margin: 0 auto;
}

.formContainer {
    width: 100%;
    clear: both;
}

.formContainer input {
    width: 100%;
    clear: both;
}

fieldset {
	width: 350px;
	margin-bottom: 20px;
}

body {
	font-family: Verdana, sans-serif;
}

ul li {
	list-style: none;
	padding-bottom: 5px;
}

ul {
	padding-left: 0px;
}

table {
	border: 1px;
}

th, td {
	width: 50px;
}

th {
	text-align: left;
}